@keyframes rouge{
    0%      {left:0px; top: 0px;}
    25%     {left:200px; top:0px;}
    50%     {left:200px; top:200px;}
    75%     {left:0px; top:200px;}
    100%    {left:0px; top:0px;}
}

@keyframes bleu{
    0%      {left:0px; top: 0px;}
    25%     {left:200px; top:0px;}
    50%     {left:200px; top:200px;}
    75%     {left:0px; top:200px;}
    100%    {left:0px; top:0px;}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%; /* 1rem = 10px */
}

body{
    font-size: 1.4rem; /* 14px */
    font-family: arial;
    color: black;
}

.container{
    height: 100vh; /* vh = viewport height */ /* 100vh = on remplit entièrement la zone d'affichage*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1E2337;
}

#btn-red{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    animation-name: rouge;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#btn-blue{
    background-color: blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    animation-name: bleu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}